<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<!-- Database -->
		
		<!-- SQL Server settings -->
		<!--<connectionString>Server=WIN-VZ8YS0ES3FE\MS2008; Database=gtmasterdb; Uid=sa; Pwd=abc123!@#;</connectionString>-->
		<!--<connectionString>Server=112.213.95.84; Database=deluxegrouptours; Uid=deluxegroupuser; Pwd=ab1234567890;</connectionString>-->
    <!--<connectionString>Server=112.213.95.84; Database=deluxegrouptours_new; Uid=deluxe_new; Pwd=123456;</connectionString>-->
    <!--<connectionString>Server=103.7.40.252\SQLEXPRESS,53803; Database=deluxe; Uid=deluxe; Pwd=atm123$$$;</connectionString>-->
    <connectionString>Server=localhost\SQLEXPRESS; Database=deluxegrouptours_new; Uid=sa; Pwd=sa;</connectionString>
    <nhibernateDriver>NHibernate.Driver.SqlClientDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MsSql2005Dialect</nhibernateDialect>
		<!--			
		PostgreSQL settings
		<connectionString>Server=localhost;Port=5432;Database=cuyahoga;uid=;pwd=</connectionString>
		<nhibernateDriver>NHibernate.Driver.NpgsqlDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.PostgreSQLDialect</n4hibernateDialect>
		-->
		<!--	  
		MySQL settings2
		<connectionString>server=localhost;database=cuyahoga;uid=;pwd=;</connectionString>
		<nhibernateDriver>NHibernate.Driver.MySqlDataDriver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.MySQLDialect</nhibernateDialect>
		-->

		<!-- Email. -->
		<!-- Important: also update services.config when setting port, username, password and encoding -->
		<smtpHost>localhost</smtpHost> <!-- required-->
		<smtpPort></smtpPort>
		<smtpUsername></smtpUsername>
		<smtpPassword></smtpPassword>
		<emailEncoding></emailEncoding> <!-- iso-8859-1, utf-8, us-ascii, etc.  -->
		
		<!-- 
		Location for temporary files in transactional uploads. 
		When left empty, The TEMP environment variable is used to lookup the temp directory. 
		-->
		<tempDir></tempDir>
		
	</properties>
</configuration>
